<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Project</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex">
                    <ol class="breadcrumb ms-auto">
                        <li><a href="#" class="fw-normal"></a></li>
                    </ol>
                    <a class="btn btn-danger text-white" (click)="openModal(template)">
                        <i class="fas fa-plus-square"></i> Add new project
                    </a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Project</h3>
                    <!-- <p class="text-muted">Add class <code>.table</code></p> -->
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Project ID</th>
                                    <th class="border-top-0">Project Name</th>
                                    <th class="border-top-0">Org Name</th>
                                    <th class="border-top-0">Action</th>
                                    <th class="border-top-0"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let project of projectList| paginate: { itemsPerPage: 5, currentPage: p }; let i = index;">
                                    <td>{{i+1}}</td>
                                    <td>{{project.projectName}}</td>
                                    <td>{{project.orgName}}</td>
                                    <td>
                                        <a title="Delete" class="btn btn-danger"
                                            style="margin-right: 10px; color: aliceblue;"><i
                                                class=" fas fa-trash"></i></a>
                                        <a title="Edit" class="btn btn-warning"><i class=" fas fa-pencil-alt"></i></a>
                                        <mat-slide-toggle class="example-margin" style="margin-left: 10px;"
                                            [color]="'primary'">
                                        </mat-slide-toggle>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger  btn btn-danger text-white">
                                            View
                                        </a>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <pagination-controls style="float: right;" (pageChange)="p = $event"></pagination-controls>

                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <!-- <footer class="footer text-center"> 2021 © Ample Admin brought to you by <a
        href="https://www.wrappixel.com/">wrappixel.com</a>
    </footer> -->
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">New Project</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <form>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm">
                            <label for="exampleInputEmail1">Project Name</label>
                            <input type="text" class="form-control" id="projectName" aria-describedby="emailHelp"
                                placeholder="Enter name here">
                        </div>
                        <div class="col-sm">
                            <label for="exampleInputEmail1">Select Org</label>
                            <select class="form-select">
                                <option>Default select</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm">
                            <label for="discription">Discription</label>
                            <textarea class="form-control" id="discription" rows="3"
                                placeholder="Add discription"></textarea>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm">
                            <label for="exampleInputEmail1">Owner</label>
                            <input type="text" class="form-control" id="ownerName" aria-describedby="emailHelp"
                                placeholder="Enter owner name">
                        </div>
                        <div class="col-sm">
                            <label for="exampleInputEmail1">Owner Email</label>
                            <input type="email" class="form-control" id="ownerEmail" aria-describedby="emailHelp"
                                placeholder="Enter owner email">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-sm">
                            <button type="submit" class="btn btn-primary modalButton">Add</button>
                            <button type="submit" class="btn btn-light modalButton" (click)="modalRef?.hide()">cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>
