<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Catelogs</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex">
                    <ol class="breadcrumb ms-auto">
                        <li><a class="fw-normal"></a></li>
                    </ol>
                    <a href="https://www.wrappixel.com/templates/ampleadmin/" target="_blank"
                        class="btn btn-danger text-white">
                        <i class="fas fa-plus-square"></i> Add new Application</a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Catelogs</h3>
                    <!-- <p class="text-muted">Add class <code>.table</code></p> -->
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Application name</th>
                                    <th class="border-top-0">Version</th>
                                    <th class="border-top-0">Action</th>
                                    <th class="border-top-0"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Client app</td>
                                    <td>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Version</mat-label>
                                            <mat-select>
                                                <mat-option value="option1">1.01</mat-option>
                                                <mat-option value="option2">1.02</mat-option>
                                                <mat-option value="option3">1.03</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <a title="Edit" class="btn btn-warning">Install</a>
                                    </td>
                                    <td>
                                        <a style="color: blue;">View config</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Client app</td>
                                    <td>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Version</mat-label>
                                            <mat-select>
                                                <mat-option value="option1">1.01</mat-option>
                                                <mat-option value="option2">1.02</mat-option>
                                                <mat-option value="option3">1.03</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <a title="Edit" class="btn btn-warning">Install</a>
                                    </td>
                                    <td>
                                        <a style="color: blue;">View config</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Client app</td>
                                    <td>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Version</mat-label>
                                            <mat-select>
                                                <mat-option value="option1">1.01</mat-option>
                                                <mat-option value="option2">1.02</mat-option>
                                                <mat-option value="option3">1.03</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <a title="Edit" class="btn btn-warning">Install</a>
                                    </td>
                                    <td>
                                        <a style="color: blue;">View config</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Client app</td>
                                    <td>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Version</mat-label>
                                            <mat-select>
                                                <mat-option value="option1">1.01</mat-option>
                                                <mat-option value="option2">1.02</mat-option>
                                                <mat-option value="option3">1.03</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <a title="Edit" class="btn btn-warning">Install</a>
                                    </td>
                                    <td>
                                        <a style="color: blue;">View config</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <!-- <footer class="footer text-center"> 2021 © Ample Admin brought to you by <a
        href="https://www.wrappixel.com/">wrappixel.com</a>
    </footer> -->
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>